<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show Graph</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
  <div>
    <h1>Show Graph</h1>
    <button onclick="showTaskGraph(1)">Task1</button>
    <button onclick="showTaskGraph(2)">Task2</button>
    <button onclick="showTaskGraph(3)">Task3</button>
    <button onclick="showTaskGraph(4)">Task4</button>
    <button onclick="showTaskGraph(5)">Task5</button>
    <br><br>
    <button onclick="showCoreGraph(1)">Core1</button>
    <button onclick="showCoreGraph(2)">Core2</button>
    <button onclick="showCoreGraph(3)">Core3</button>
    <button onclick="showCoreGraph(4)">Core4</button>
    <button onclick="showCoreGraph(5)">Core5</button>
  </div>
  
  <div id="graph"></div>

  <script type="text/javascript">
    var maxNumber = JSON.parse(`{{maxNumber}}`);
    var minNumber = JSON.parse(`{{minNumber}}`);
    var avgNumber = JSON.parse(`{{avgNumber}}`);

    function showTaskGraph(n) {
      var data = [];
      var cores = ['Core1', 'Core2', 'Core3', 'Core4', 'Core5'];
      var maxData = maxNumber.slice((n - 1) * 5, (n * 5));
      var minData = minNumber.slice((n - 1) * 5, (n * 5));
      var avgData = avgNumber.slice((n - 1) * 5, (n * 5));
      
      data.push({
        x: cores, 
        y: maxData,
        mode: 'lines', 
        name: 'Max Number'
      });
      data.push({
        x: cores,
        y: minData,
        mode: 'lines', 
        name: 'Min Number'
      });
      data.push({
        x: cores, 
        y: avgData,
        mode: 'lines', 
        name: 'AVG Number'
      });

      var layout = {
        title: 'Task' + n + '의 Core 수행',
        yaxis: {
          range: [0, Math.max(...maxNumber, ...minNumber, ...avgNumber)]
        }
      };
      
      Plotly.newPlot('graph', data, layout);
    }

    function showCoreGraph(n) {
      var data = [];
      var tasks = ['Task1', 'Task2', 'Task3', 'Task4', 'Task5'];
      var maxData = maxNumber.slice((n - 1) * 5 + 25, (n * 5) + 25);
      var minData = minNumber.slice((n - 1) * 5 + 25, (n * 5) + 25);
      var avgData = avgNumber.slice((n - 1) * 5 + 25, (n * 5) + 25);

      data.push({
        x: tasks, 
        y: maxData,
        mode: 'lines', 
        name: 'Max Number'
      });
      data.push({
        x: tasks,
        y: minData,
        mode: 'lines', 
        name: 'Min Number'
      });
      data.push({
        x: tasks, 
        y: avgData,
        mode: 'lines', 
        name: 'AVG Number'
      });

      var layout = {
        title: 'Core' + n + '의 Task 수행',
        yaxis: {
          range: [0, Math.max(...maxNumber, ...minNumber, ...avgNumber)]
        }
      };
      
      Plotly.newPlot('graph', data, layout);
    }
  </script>
</body>
</html>